[openshift-origin-deps]
name=openshift-origin-deps
baseurl=https://mirror.openshift.com/pub/openshift-origin/release/{{oo_stable_ver}}/{{oo_distro}}/dependencies/{{ ansible_architecture }}/
gpgcheck=0
enabled=1
